<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body (click)="onMouseUp()">
  <div class="body">
    <table class="pet-table">
      <thead>
        <tr class="pet-table__header">
          <th class="pet-table__cell--title">COL1</th>
          <th class="pet-table__cell--title">COL2</th>
          <th class="pet-table__cell--title">COL3</th>
          <th class="pet-table__cell--title">COL4</th>
          <th class="pet-table__cell--title">COL5</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of getRows()">
          <th class="pet-table__cell" *ngFor="let pet of row" (click)="onPetClicked(pet)">{{ pet.name }}</th>
        </tr>
      </tbody>
    </table>

    <div class="resizer" (mousedown)="onMouseDown()"></div>
    
    <app-pet-info class="pet-info" [petInfo]="clickedPet" ></app-pet-info>
  </div>
</body>

</html>